lightgallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    width: 10rem !important;
    height: 10rem !important;
    object-fit: cover !important;
    margin: .5rem;
  }
}
