<lightgallery [settings]="settings">
  <ng-container *ngFor="let item of items">
    <a class="gallery-item"
       [attr.data-src]="item">
      <img class="img-responsive"
           [attr.src]="item" />
    </a>
  </ng-container>
</lightgallery>
