<hr>
<footer>
  <a href="https://www.facebook.com/Kamillefoto.cz/">
    <span>Kamila Kučerová 2020</span>
  </a>
  <span style="margin:1rem">|</span>
  <a href="mailto:richardbiros@icloud.com?subject=dotaz">Richard Biros</a>
</footer>