$primary-color: #C0A453;
$secondary-color: #aa6e3b;

hr {
    margin-top: 2rem;
    border: .5px solid $primary-color;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primary-color;
        transition: .5s;

        &:hover {
            color: $secondary-color;
        }
        
        img {
            width: 32px;
        }

        span {
            padding-left: 1rem;
        }

    }
}