.carousel-item {
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.carousel-item:before{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  //background-color: rgba(0,0,0,0.5);
  z-index: -1;
}
.carousel-item .container{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
