@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');

$primary-color: #C0A453;

a {
    color: black;
    text-decoration: none;

    .logo {
        display: flex;
        justify-content: center;
        font-family: 'Allura', cursive;
        font-size: 4rem;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
    margin-bottom: 2rem;

    .mobile-menu {
        width: 1rem;
        height: 1rem;
        display: none;
    }

    .opened-menu {
        display: none;
    }

    ul {
        list-style: none;
        overflow: hidden;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 0 1rem 0 1rem;

            a {
                text-decoration: none;
                color: black;
                transition: .5s;
                text-transform: uppercase;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        .mobile-menu {
            display: block;
            cursor: pointer;

            &:checked {
                background-color: red;
            }
        }

        .menu {
            display: none;
        }

        .opened-menu {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            text-align: center;

            ul {
                li {
                    display: block;
                    padding: .2rem;

                    &:first-child {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}
