<a routerLink="/home"><h1 class="logo">Kamillefoto</h1></a>
<header class="header">
  <img class="mobile-menu" *ngIf="!showMenu" src="assets/icon/mobile-menu.png" (click)="showMenu = !showMenu" />
  <img class="mobile-menu" *ngIf="showMenu" src="assets/icon/close.png" (click)="showMenu = !showMenu" />
  <ul class="menu">
    <li><a routerLink="/home">Domácí stránka</a></li>
    <li><a routerLink="/info">Informace o focení</a></li>
    <li><a routerLink="/gallery">Galerie</a></li>
    <li><a routerLink="/pricing">Ceník</a></li>
    <li><a routerLink="/contact">Kontakt</a></li>
  </ul>
  <div class="opened-menu" *ngIf="showMenu">
    <ul>
      <li><a routerLink="/info">Informace o focení</a></li>
      <li><a routerLink="/gallery">Galerie</a></li>
      <li><a routerLink="/pricing">Ceník</a></li>
      <li><a routerLink="/contact">Kontakt</a></li>
    </ul>
  </div>
</header>