<div class="d-flex justify-content-center">
  <div class="card d-flex justify-content-center align-items-center p-4 mb-5" style="width: 70vw">
    <img class="card-img-top d-flex justify-content-center  align-items-center mb-5" src="assets/img/image-profile.jpeg"
         alt="Card image cap">
        <h2 class="card-title">Kamila Kučerová</h2>
        <p class="card-text m-0">Přestavlky u Čerčan, 257 23</p>
        <p class="card-text">+420 723 693 723</p>
      <div class="d-flex justify-content-between">
        <div class="contact-item d-flex flex-column align-items-center mx-3">
          <a href="https://www.facebook.com/Kamillefoto.cz/"><i class="ai-facebook-fill me-2"></i></a>
        </div>
        <div class="contact-item d-flex flex-column align-items-center mx-3">
          <a href="https://www.instagram.com/kamillefoto/"><i class="ai-instagram-fill me-2"></i></a>
        </div>
        <div class="contact-item d-flex flex-column align-items-center mx-3">
          <a href="tel:+420723693723"><i class="ai-phone me-2"></i></a>
        </div>
        <div class="contact-item d-flex flex-column align-items-center mx-3">
          <a href="mailto:kamilakucerova@email.com"><i class="ai-envelope me-2"></i></a>
        </div>
      </div>
  </div>
</div>
