.card {
  box-shadow: 0 0 40px -13px rgb(0 0 0 / 75%);
  .card-img-top {
    border-radius: 50rem;
    width: 10rem;
    height: 10rem;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #C0A453;
  }
}
