<div class="container">

  <div *ngIf="category === 'family'">
    <div class="content">
      <h3 class="title">Rodinné focení</h3>
        <p>Rodinné focení je nejčastější záležitostí a mám s ním bohaté zkušenosti. Není třeba se ničeho obávat. Menší děti vydrží focení okolo 30 minut. Proto vše probíhá rychle a formou hry.  
          Doporučuji sladit barevně oblečení! Rozhodně tím zlepšíte vzhled fotografií . Volte podobné odstíny barev – vhodné jsou barvy pastelové. Rozhodně ne neon odstíhy, velké nápisy, košile z uzoučkým proužkem či kostičkou – dělá pak neplechu na fotkách stejně jako se nepoužívá v TV.
          Pro menší děti vezměte oblíbenou hračku, nějaký pamlsek, pití.
          </p>
    </div>
  </div>

  <div *ngIf="category === 'newborn'">
    <div class="content">
      <h3 class="title">Novorozenecké focení</h3>
        <p>Fotíme miminka do 14 dní docela v pohodě, pak již hůře spolupracují.
          Je fajn se nahlásit již z porodnice, aby se našel volný termín.
          Focení  bude probíhat v dopoledních hodinách u mne v ateliéru. Veškeré rekvizity k zapůjčení. Fotíme jak miminko samostatně, tak s rodiči. 
          Není pro mne prioritou napolohovat miminko do krkolomných pozic. Jde mi o pohodlné a pohodové focení bez pláče. 
          Je možné fotit i u Vás doma bez rekvizit v přirozeném prostředí, což po porodu oceňují maminky.
          S sebou – náhradní oblečení, látkové plenky, i když nepoužíváte dudlík, tak vezměte. Na focení se opravdu vyplatí a dítě si na něj nezvykne za hodinu.
          </p>
    </div>
  </div>

  <div *ngIf="category === 'pregnant'">
    <div class="content">
      <h3 class="title">Těhotenské focení</h3>
        <p>Vhodná doba je začátek 8. měsíce. Bříško už je veliké, ale Vy jste ještě dost pohyblivá a focení Vás nebude tolik zatěžovat. 
          Na focení volte pohodlné oblečení a nejlépe přiléhavé, aby bříško pěkně vyniklo. V létě jsou krásné dlouhé šaty, mohou být volnějšího střihu. Na focení se slaďte s partnerem, dále můžete vzít další jiné oblečení na samostatné focení. 
          K dispozici krajkové šaty dlouhé i krátké. Info zasílám do zpráv. 
          Pokud byste chtěla fotit s odhaleným bříškem, vezměte oblečení volně, aby nebyly na kůži otlaky od oblečení.          
          </p>
    </div>
  </div>

</div>