$box-background: #FDFDFA;
$title-color: #B0793E;

.container {
    background-color: $box-background;
    border-radius: 2rem;
    box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.75);
    width: 100%;
    width: 20rem;
    height: 37rem;
    margin-bottom: 2rem;

    .content {
        text-align: center;
        padding: 1rem;

        .title {
            color: $title-color;
            margin: 2rem 1rem 1rem 1rem;
        }

        p {
            margin: 0 2rem;
        }
    }
}