<div class="d-flex justify-content-around flex-wrap">
  <div class="cursor-pointer" routerLink="/rodinne" style="background-image:url('assets/img/other/other15.jpg')">
    <h2>Rodinné</h2>
  </div>
  <div class="cursor-pointer" routerLink="/svatby" style="background-image:url('assets/img/wedding/wed23.jpg')">
    <h2>Svatby</h2>
  </div>
</div>
