@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');

div {
  //display: flex;
  //justify-content: space-around;
  //flex-wrap: wrap;
  div {
    width: 25rem;
    min-height: 12.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px;
    margin: 1rem;
    h2 {
      font-family: 'Allura', cursive;
      font-size: 5rem;
      color: white;
      text-shadow: 1px 1px 4px black;
      margin-top: 1rem;
    }
    //img {
    //  max-width: 20rem;
    //  max-height: 10rem;
    //
    //  margin: 1rem;
    //  background-position: center;
    //  background-size: cover;
    //  position: relative;
    //}
  }
}


.cursor-pointer {
  cursor: pointer !important;
}
