<a routerLink="/home" class="text-decoration-none">
  <p class="d-flex justify-content-center font-weight-bold mt-3 logo">Kamillefoto</p>
</a>

<header class="header d-flex justify-content-center align-items-center w-100 user-select-none mb-2">
  <i *ngIf="!showMenu" class="ai-text-align-justified d-xl-none d-md-none" (click)="showMenu = !showMenu"></i>
  <i *ngIf="showMenu" class="ai-cross d-xl-none d-md-none" (click)="showMenu = !showMenu"></i>
  <ul class="menu my-3">
    <li><a routerLink="/home">Domácí stránka</a></li>
    <li><a routerLink="/info">Informace o focení</a></li>
    <li><a routerLink="/galerie">Galerie</a></li>
    <li><a routerLink="/cenik">Ceník</a></li>
    <li><a routerLink="/kontakt">Kontakt</a></li>
  </ul>
  <div class="opened-menu my-3" *ngIf="showMenu">
    <ul>
      <li><a routerLink="/info">Informace o focení</a></li>
      <li><a routerLink="/galerie">Galerie</a></li>
      <li><a routerLink="/cenik">Ceník</a></li>
      <li><a routerLink="/kontakt">Kontakt</a></li>
    </ul>
  </div>
</header>

