.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .category {
        width: 20rem;
        height: 12.68rem;
        margin: 1rem;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        cursor: pointer;

        span {
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1rem;
            transition: 1s;
            
            &:hover {
                font-size: 1.5rem;
                padding: 1.5rem;
            }
        }
    }

    .category#other {
        background-image: url("../../../assets/img/other/10.jpg");
    }
    
    .category#wedding {
        background-image: url("../../../assets/img/wedding/wed3.jpg");
    }
}