<div class="categories">
  <div class="category darken" id="other" routerLink="/other">
    <span>Ukázka mé tvorby</span>
  </div>
  <div class="category" id="wedding" routerLink="/wedding">
    <span>Svatby</span>
  </div>
</div>