<div class="pricing-list">
  <ul>
    <li><h2>Rodinné focení, těhotenské, portréty, miminka, narozeninové</h2></li>
      <p>30 fotografií dle vlastního výběru v digitální podobě</p>
      <p>barevná a černobílá varianta fotografie</p>
      <p>max 60 minut focení</p>
      <p>1500 Kč</p>
    <li><h2>Minifocení</h2></li>
      <p>20 fotografií dle vlastního výběru v digitální podobě, barevná a černobílá varianta</p>
      <p>max 30 minut focení</p>
      <p>vždy vyhlášeno na určitý den, týká se tematické fotografie – jarní, velikonoční, vánoční, podzimní atd.</p>
      <p>1000 Kč</p>
    <li><h2>Focení u vás doma</h2></li>
      <p>30 fotografií dle vlastního výběru v digitální podobě</p>
      <p>barevná a černobílá varianta fotografie</p>
      <p>max 60 minut focení</p>
      <p>focení bude probíhat v přirozeném prostředí u Vás doma bez ateliérových rekvizit 
        (dohoda na rekvizitách možná)
      </p>
      <p>Čerčany a okolí 15 km</p>
      <p>1500 Kč</p>
    <li><h2>Svatební balíček 1 – celý den</h2></li>
      <p>8 - 12h focení</p>
      <p>cca 300-400 upravených fotografií  (fotografie vybírám dle svého uvážení )</p>
      <p>50 foto vyvolaných ve formátu 13x18 cm dle Vašeho výběru</p>
      <p>usb disk, dárkové balení</p>
      <p>12000 Kč</p>
    <li><h2>Svatební balíček 2 – půl den</h2></li>
      <p>5h focení</p>
      <p>cca 200 upravených fotografií  (fotografie vybírám dle svého uvážení )</p>
      <p>20 foto vyvolaných ve formátu 13x18 cm dle Vašeho výběru</p>
      <p>usb disk, dárkové balení</p>
      <p>8000 Kč</p>
  </ul>
</div>