$primary-color: #C0A453;

.pricing-list {
    h2 {
        color: $primary-color;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    text-align: center;
    display: flex;
    justify-content: center;
}