<div class="contact">
  <img src="assets/img/image-profile.jpg" />
  <ul>
    <li><h2>Kamila Kučerová</h2></li>
      <p>Přestavlky u Čerčan, 257 23</p>
      <p>IČO: 08864268</p>
      <p><a href="tel:+420723693723">Tel: +420 723 693 723</a></p>
      <p><a href="mailto:kamilakucerova@email.com">Email: kamilakucerova@email.cz</a></p>
      <p><a href="https://www.facebook.com/Kamillefoto.cz/">Facebook: Kamillefoto - Kamila Kučerová</a></p>
      <p><a href="https://www.instagram.com/kamillefoto/">Instagram: kamillefoto.cz</a></p>
  </ul>
</div>