$primary-color: #C0A453;

.contact {
    img {
        width: 15rem;
        margin-right: 4rem;
    }
    h2 {
        color: $primary-color;
    }
    ul {
        list-style: none;
        padding: 0;

        a {
            color: black;
        }
    }
    text-align: left;
    display: flex;
    justify-content: center;
}