<div class="pricing-list">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h3 class="card-title">Svatební balíček 1 – celý den</h3>
      <p class="card-text">8 - 12h focení</p>
      <p class="card-text">cca 300-400 upravených fotografií (fotografie vybírám dle svého uvážení )</p>
      <p class="card-text">50 foto vyvolaných ve formátu 13x18 cm dle Vašeho výběru</p>
      <p class="card-text">usb disk, dárkové balení</p>
    </div>
    <div class="card-footer">
      <p class="">12 000 Kč</p>
    </div>
  </div>

  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h3 class="card-title">Svatební balíček 2 – půl den</h3>
      <p class="card-text">5h focení</p>
      <p class="card-text">cca 200 upravených fotografií (fotografie vybírám dle svého uvážení)</p>
      <p class="card-text">20 foto vyvolaných ve formátu 13x18 cm dle Vašeho výběru</p>
      <p class="card-text">usb disk, dárkové balení</p>
    </div>
    <div class="card-footer">
      <p class="">8 000 Kč</p>
    </div>
  </div>

    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title">Rodinné focení, těhotenské, portréty, miminka, narozeninové</h3>
        <p class="card-text">30 fotografií dle vlastního výběru v digitální podobě</p>
        <p class="card-text">barevná a černobílá varianta fotografie</p>
        <p class="card-text">max 60 minut focení</p>
      </div>
      <div class="card-footer">
        <p class="">1 500 Kč</p>
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title">Minifocení</h3>
        <p class="card-text">20 fotografií dle vlastního výběru v digitální podobě, barevná a černobílá varianta</p>
        <p class="card-text">max 30 minut focení</p>
        <p class="card-text">vždy vyhlášeno na určitý den, týká se tematické fotografie – jarní, velikonoční, vánoční,
          podzimní atd.</p>
      </div>
      <div class="card-footer">
        <p class="">1 000 Kč</p>
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title">Focení u vás doma</h3>
        <p class="card-text">30 fotografií dle vlastního výběru v digitální podobě</p>
        <p class="card-text">barevná a černobílá varianta fotografie</p>
        <p class="card-text">max 60 minut focení</p>
        <p class="card-text">focení bude probíhat v přirozeném prostředí u Vás doma bez ateliérových rekvizit (dohoda na
          rekvizitách možná)</p>
        <p class="card-text">Čerčany a okolí 15 km</p>
      </div>
      <div class="card-footer">
        <p class="">1 500 Kč</p>
      </div>
    </div>
  </div>

