$primary-color: #C0A453;

.pricing-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    margin: 2rem;

    h3 {
      color: $primary-color;
    }

    .card-footer {
      text-align: right;
    }
  }
}

