$box-background: rgb(253 253 250 / 80%);
$title-color: #B0793E;

.card {
  background-color: $box-background;
  border-radius: 2rem;
  box-shadow: 0 0 40px -13px rgba(0,0,0,0.75);
  width: 20rem;
  height: 43rem;
  margin-bottom: 2rem;

  .card-title {
    text-align: center;
    color: $title-color;
    margin: 2rem 1rem 1rem 1rem;
  }

  .card-body {
    text-align: center;
    padding: 1rem;
    margin: 0 2rem;
  }
}
