@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$primary-color: #C0A453;

.about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .about-content {
        width: auto;
        height: 25rem;
        display: flex;
        justify-content: space-between;
    }

    img {
        height: 25rem;
        margin: 0 5rem;
    }
}

.container {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    .boxes {
        display: flex;
        justify-content: space-around;
        margin-top: 5rem;
        width: 100%;
        flex-wrap: wrap;
        
        app-box {
            width: 20rem;
        }
    }
}

.info {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;

    h1 {
        color: $primary-color;
        text-align: center;
    }

    p {
        text-align: center;
    }
}