<!-- <div class="about">
  <div class="about-content">
    <img *ngIf="windowWidth > 600" src="src/assets/img/image-profile.jpg" />
    <img *ngIf="windowWidth > 750" src="src/assets/img/image-profile.jpg" />
    <img *ngIf="windowWidth > 1150" src="src/assets/img/image-profile.jpg" />
  </div>
</div> -->

<div class="container">
  <div class="boxes">
    <app-box [category]="'family'"></app-box>
    <app-box [category]="'newborn'"></app-box>
    <app-box [category]="'pregnant'"></app-box>
  </div>
  <p>Termín, který si u mě zarezervujete je závazný. Omluvy přijímám v případě nemoci či neočekávané situaci.</p>
</div>

<div class="info">
  <h1>Informace o zpracování fotografií</h1>
  <p>Po našem focení Vám zašlu do tří dnů náhledy, ze kterých budete vybírat fotografie k následné úpravě. Ta spočívá v ořezu, narovnání, barevné úpravě, tónování, zostření atd. V případě odřenin, pupínků atd. jde také o retuš. Retuš provádím lehkou v obličeji u portrétní fotografie či boudoir focení. Ale pořád to budete Vy a ne vosková figurína.
    Neprovádím – zeštíhlování! Volte prosím vhodné oblečení na focení. Pokud budete nespokojení s vlastním vzhledem na fotce, tak mě to opravdu bude mrzet, ale nejsem photoshop, ale fotograf. Fotím to, co vidím.</p>
    
  <p>Náhledy fotografií jsou mým vlastnictvím. Není dovoleno s nimi zacházet jako výsledek mé práce. Slouží jen k výběru. Neupravené fotografie nezasílám!</p>
    
  <p>Finální foto Vám bude zasláno přes mé uložiště a to zaheslované. Mohu zaslat i přes úschovnu. Fotografie budou uloženy po dobu 1 roku. 
  Fotografie jsou v barevné i černobílé variantě.
  Dodání do 1 týdne od fotografování. 
  </p>
</div>