<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img/other/other13.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rodinné focení</h5>
      <p class="card-text">Rodinné focení je nejčastější záležitostí a mám s ním bohaté zkušenosti. Není třeba se ničeho obávat. Menší děti vydrží focení okolo 30 minut. Proto vše probíhá rychle a formou hry. Doporučuji sladit barevně oblečení! Rozhodně tím zlepšíte vzhled fotografií . Volte podobné odstíny barev – vhodné jsou barvy pastelové. Rozhodně ne neon odstíhy, velké nápisy, košile z uzoučkým proužkem či kostičkou – dělá pak neplechu na fotkách stejně jako se nepoužívá v TV. Pro menší děti vezměte oblíbenou hračku, nějaký pamlsek, pití.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/other/other39.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Novorozenecké focení</h5>
      <p class="card-text">Fotíme miminka do 14 dní docela v pohodě, pak již hůře spolupracují. Je fajn se nahlásit již z porodnice, aby se našel volný termín. Focení bude probíhat v dopoledních hodinách u mne v ateliéru. Veškeré rekvizity k zapůjčení. Fotíme jak miminko samostatně, tak s rodiči. Není pro mne prioritou napolohovat miminko do krkolomných pozic. Jde mi o pohodlné a pohodové focení bez pláče. Je možné fotit i u Vás doma bez rekvizit v přirozeném prostředí, což po porodu oceňují maminky. S sebou – náhradní oblečení, látkové plenky, i když nepoužíváte dudlík, tak vezměte. Na focení se opravdu vyplatí a dítě si na něj nezvykne za hodinu.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/other/other1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Těhotenské focení</h5>
      <p class="card-text">Vhodná doba je začátek 8. měsíce. Bříško už je veliké, ale Vy jste ještě dost pohyblivá a focení Vás nebude tolik zatěžovat. Na focení volte pohodlné oblečení a nejlépe přiléhavé, aby bříško pěkně vyniklo. V létě jsou krásné dlouhé šaty, mohou být volnějšího střihu. Na focení se slaďte s partnerem, dále můžete vzít další jiné oblečení na samostatné focení. K dispozici krajkové šaty dlouhé i krátké. Info zasílám do zpráv. Pokud byste chtěla fotit s odhaleným bříškem, vezměte oblečení volně, aby nebyly na kůži otlaky od oblečení.</p>
    </div>
  </div>
</div>

<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Informace o zpracování fotografií</h3>
    <p class="card-text">Termín, který si u mě zarezervujete je závazný. Omluvy přijímám v případě nemoci či neočekávané situaci.</p>
    <p>Po našem focení Vám zašlu do tří dnů náhledy, ze kterých budete vybírat fotografie k následné úpravě. Ta spočívá v ořezu, narovnání, barevné úpravě, tónování, zostření atd. V případě odřenin, pupínků atd. jde také o retuš. Retuš provádím lehkou v obličeji u portrétní fotografie či boudoir focení. Ale pořád to budete Vy a ne vosková figurína. Neprovádím – zeštíhlování! Volte prosím vhodné oblečení na focení. Pokud budete nespokojení s vlastním vzhledem na fotce, tak mě to opravdu bude mrzet, ale nejsem photoshop, ale fotograf. Fotím to, co vidím.</p>
    <p>Náhledy fotografií jsou mým vlastnictvím. Není dovoleno s nimi zacházet jako výsledek mé práce. Slouží jen k výběru. Neupravené fotografie nezasílám!</p>
    <p>Finální foto Vám bude zasláno přes mé uložiště a to zaheslované. Mohu zaslat i přes úschovnu. Fotografie budou uloženy po dobu 1 roku. Fotografie jsou v barevné i černobílé variantě. Dodání do 1 týdne od fotografování.</p>
  </div>

</div>
