$primary-color: #C0A453;

.container {
  width: 100%;
  text-align: center;

  .boxes {
    display: flex;
    justify-content: space-around;
    //margin-top: 5rem;
    width: 100%;
    flex-wrap: wrap;

    app-box {
      width: 20rem;
    }
  }
}

.info {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 5rem;

  h1 {
    color: $primary-color;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

$box-background: rgb(253 253 250 / 80%);
.card {
  background-color: $box-background;
  border-radius: 2rem;
  box-shadow: 0 0 40px -13px rgba(0,0,0,0.75);
  margin: 2rem;

  h3 {
    color: $primary-color;
  }
}
