<hr>
<footer class="text-center my-3">
  <a href="https://www.facebook.com/Kamillefoto.cz/" class="text-decoration-none">
    <span>Kamila Kučerová 2022</span>
  </a>
  <span style="margin:1rem">|</span>
  <a href="mailto:richardbiros@icloud.com?subject=dotaz" class="text-decoration-none">Richard Biroš</a>
</footer>
