@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$primary-color: #C0A453;
* {
  font-family: 'Raleway', sans-serif;
}

.carousel-item {
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}
